.container {
    width: 80%;
    margin: 10px auto;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .home-card {
    width: 100px;
    height: 100px;
    margin-top: 1.5rem;
  }
  .home-card-error{
    margin: 0 auto;
    margin-top: 3rem;
  }
  .bg_estado_1{
    background-color: #2ECC71 !important;
  }
  .bg_estado_2{
    background-color: #F9E79F !important;
  }
  .bg_estado_3{
    background-color: #EC7063 !important;
  }
  .bg_estado_0{
    background-color: #641E16  !important;
    color: #ffffff !important;
  }
  .card_content{
    text-align: center;
    padding-top: 2.5rem;
  }
  .card_title{
    font-size: 54px;
  }